*{
	box-sizing: border-box;
}
body
{
	background-color:pink;
}
h1
{
	color:red;
	text-align: center;
	font-family:sans-serif;
	font-size:40px;
	margin:25px;

}

.div1,.div2,.div3,.div4,.div5,.div6{
	background-color:gray;
	border:1px solid black;
	color:white;
}
.Item1{
	font-family:serif;
	font-size:28.5px;
	font-weight:bold;
	background-color:orange;
	width:25%;
	text-align: center;
	border:1px solid black;
	float:right;

}
.b{
	background-color:violet;
}
.c{

	background-color:blue;}
p
{
	margin-top:55px;
	clear:both;
}
.row{
	width:100%;
}


@media(min-width: 992px)
{
	.div1,.div2,.div3{
		float:left;
	    width:33.33%;}
}
@media(min-width: 768px)and(min-width:991px)
{
	.div4,.div5,{
		float:left;
		width:50%;}
	.div6
	{
		clear:both;
		width:100%;
	}
}
